body {
    background-color: blueviolet;
    background-image: url(../img/plano_de_fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: antiga;
    font-weight: bold;
    border-style: double;
}

@font-face {
    font-family: antiga;
    src: url(../fonts/Dreamsoftheatre-5Vja.ttf);
  }

  :root{
    --borda_color:rgb(83, 50, 50);
  }
input {
    outline: none;
    font-family: antiga;

}

button{
    cursor: pointer;
}
/* Dados */

.dice {
    height: 20vw;
    width: 20vw;
    cursor: pointer;
}

.dados {
    margin-top: 40vw;
    display: inline-flex;
}

.dice_text {
    background-color: transparent;
    color: #0c3537;
    position: relative;
    bottom: 13.9vw;
    left: 7.7vw;
    height: 4.5vw;
    width: 4.4vw;
    border: none;
    outline: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0s;
}

.dice_rolling {
    position: relative;
    z-index: 4;
    bottom: 6.75vw;
    left: 0vw;
    height: 2.3vw;
    width: 2.3vw;
    cursor: pointer;
    visibility: hidden;
}

.d6r {
    top: 62vw;
}

#d20 {
    transition: 0.7s;
    width: 20vw;
}

.rotation {
    animation: rotation 2s infinite linear;
}

.labeld {
    position: absolute;
    background-size: 15vw;
    margin-top: -20vw;
    background-image: url(../img/d20label.png);
    width: 25vw;
    height: 25vw;
    background-size: 20vw;
    cursor: pointer;
    transition: 0.01s;
    background-repeat: no-repeat;
}

.ativado {
    background-image: url(../img/d20labeloN.png) !important;
    background-size: 20vw;
}

#d20Body {
    border: black double 0.1vw;
    width: 35vw;
}

#d6Body {
    border: black double 0.1vw;
    width: 35vw;
}

#N_personalizado{
    position:absolute;
    width: 2.2vw;
    height: 1.5vw;
    background-color: white;
    bottom: -73.21vw;
    right: 51.4vw;
    transform: rotate(34deg);
    border: none;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: large;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(359deg);
    }
}


/* MODIFICADORES E STATUS */
#status{
    border: .4vw double var(--borda_color);
    border-style: double;
    width: 33.8vw;
    height: 55vw;
}

.statusBase{
    border: .2vw double var(--borda_color);
    width: 10vw;
    height: 55vw;
    padding: -1vw;
}

.statusI{
    margin-bottom: 2.5vw;
    width: 6vw;
    height: 6vw;
    margin-left: 2vw;
}

.modifier {
    background-color: rgb(219, 194, 145);
    width: 5vw;
    height: 4vw;
    border: .3vw double var(--borda_color);
    border-radius: 100%;
    border-bottom: transparent;
    text-align: center;
    padding-top: 1.5vw;
    font-size: 2vw;
}

#estrela {
    position: relative;
    width: 3vw;
    height: 3vw;
    bottom: 3.6vw;
    left: 1.1vw;
}

.statusSlt {
    position: relative;
    width: 1vw;
    height: 0.9vw;
    top: 8.6vw;
    left: -1.23vw;
    font-size:  1vw;
    z-index: 2;
    border: none;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
}

.statusAdc {
    position: relative;
    width: 2.5vw;
    height: 1vw;
    border-radius: 100%;
    top: 3.5vw;
    left: 1.3vw;
    font-size: 1.2vw;
    z-index: 2;
    text-align: center;
    outline: none;
}

#label_area{
    position: relative;
    width: 7vw;
    text-align: center;
    left: -.6vw;
    bottom: 4vw;
    font-size: 1vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* -----------------------TOTAIS----------------------- */
.resultadofinaldostatu {
    position: relative;
    left: 1vw;
    width: 19vw;
    height: 1vw;
    display: inline-flex;
    margin-right: 1vw !important;
    margin-top: 0.5vw;
}

#proficiencia{
    width: 2vw;
    height: 2vw;
    text-align: center;
}

.statuFinal{
    position: relative;
    width: 3vw;
    height: 1vw;
    border-bottom: .1vw double var(--borda_color);
    top: -1.2vw;
    left: 0.5vw;
    text-align: center;
}

.statusLabelF{
    position: relative;
    width: 3vw;
    height: 1vw;
    top: -1vw;
    left: 1.5vw;
}

.buttonDice {
    position: relative;
    width: 1vw;
    height: 1vw;
    color: rgb(130, 4, 4);
    cursor: pointer;
    left: 4vw;
    bottom: 1.1vw;
}

.buttonDice:hover{
    transition: 0.2s;
    color: rgb(226, 0, 68);
    transform: scale(1.1);
}

.totais {
    position: relative;
    border: .3vw double black;
    height: 17vw;
    width: 12vw;
    display: list-item;
    padding-right: 10vw;
    left: 11vw;
    top: -55vw;
}

#proficiencia {
    width: 2vw;
    height: 2vw;
    border: .4vw double var(--borda_color);
    border-radius: 10vw;
}

#proficiencia_label{
    position: relative;
    font-size: 1.8vw;
    left: 3vw;
    top: -2.5vw;
}

.checkbox {
    transform: rotate(45deg);
    width: 1vw;
    opacity: 0;
    z-index: 9;
}

.checkmark{
    position: absolute;
    transform: rotate(45deg);
    width: 1vw;
    height: 1vw;
    left: .25vw;
    background-color: #dbdbdb;
    z-index: -2;
    border:  .1vw double black;
}

.checkbox:hover ~ .checkmark{
    transition: 0.1s;
    background-color: #ebeff0;
}

.checkbox:checked ~ .checkmark{
    border:  none;
    background-color: #6558af;
    box-shadow: .1vw .1vw 1.5vw .3vw #6558af;
}

/*--------------------------  STATUS DE BATALHA ----------------------*/
.HitPoints {
    border: .4vw double var(--borda_color);
    width: 20vw;
    height: 18.45vw;
    position: relative;
    background-image: url(../img/hpbackground.png);
    background-size: 20vw;
    background-repeat: no-repeat;
    top: -62.9vw;
    left: 36vw;
    justify-items: center;
    color: aliceblue;
}

.HitPoints hr {
    width: 30vw;
    background-color: black;
    border-style: double;
}

.HitPoints input,
.input {
    width: 2vw;
    border: none;
    text-align: center;
    background-color: transparent;
    /* background-color: #6a2724; */
    color: aliceblue;

}

#ac {
    position: relative;
    top: .5vw;
    left: 2.5vw;
    width: 3vw;
    height: 1.5vw;
    font-size: 2vw;
}

#acNat{
    position:absolute;
    top: 1vw;
    left:2.8vw;
    outline: none;
    width:2vw; 
    text-align: center;
    background-color: transparent;
    font-size: 1.3vw;
}

#acAd {
    position:absolute;
    top: 3.6vw;
    left:2.3vw;
    outline: none;
    width:3vw;
    height: 1.3vw;   
    text-align: center;
    font-size: 1.3vw;
}

#iniciativa {
    position: relative;
    top: -3.5vw;
    left: 9.18vw;
    font-size: 1.3vw;
}

#Ofença {
    position: relative;
    top: -1.2vw;
    left: 6.6vw;
    font-size: 1.3vw;
}

#DadoC {
    position: relative;
    top: -2.7vw;
    left: 9.8vw;
    width: 3vw;
    font-size: 1.2vw;
}

#hpMax {
    position: relative;
    top: 4.1vw;
    right: 0.37vw;
}

#hp {
    position: relative;
    top: 5.2vw;
    left: 3.6vw;
    width: 12vw;
}

#hpAd {
    position: relative;
    top: 8.64vw;
    left: -4vw;
}

/*-------------------------- ARMAS  ----------------------*/
.armas {
    position: relative;
    top: 40vw;
}
.armas input{
    text-align: center;
}
#espada_icon{
    width: 1vw;
    height: 1vw;
}

/*-------------------------- ARMADURAS  ----------------------*/
.armaduras{
    position: relative;
    top: 30vw;
}

.armaduras input{
    text-align: center;
}

/* div arrastavél */

.fixado {
    position: fixed !important;
    z-index: 9;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 3vw double rgb(0, 0, 0);
    width: 80vw;
    height: 80vw;
    border-radius: 20vw;
    background-image: url(../img/result_bckGrnd.png);
    background-size: 80vw;
    background-repeat: no-repeat;
    line-height: 80vw;
    font-size: xx-large;
    top: 15vw !important;
    right: 4vw !important;
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: .2vw double rgb(0, 0, 0);
    width: 5vw;
    height: 5vw;
    border-radius: 1vw;
    background-image: url(../img/result_bckGrnd.png);
    background-size: 5vw;
    background-repeat: no-repeat;
    line-height: 5vw;
    font-size: xx-large;
}

#resultado {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: xx-large;
    line-height: 5vw;
    margin-top: 0vw;
    border-radius: 1vw;
    cursor: grab;
    background-image: url(../img/result_bckGrnd.png);
    background-size: 5vw;
    background-repeat: no-repeat;
    overflow: hidden;
}

.fixo{
    left: 70vw;
    width: 10vw;
    bottom: -80vw;
    height: 02vw;
    position:absolute;
    cursor: pointer;
    background-color: rgb(17, 17, 37);
    color: white;
    text-align: center;
}

#desfixar{
    visibility: hidden;
    background-color: rgb(78, 80, 95);
}